apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argo-rollouts
resources:
  - install-1.2.1.yaml
patchesStrategicMerge:
  - istio_patches_service.yaml
  - istio_patches_deployment.yaml